:root {
    --background-color: rgb(61, 61, 61);
    --secondary-color: rgb(48, 48, 48);
    --pink-color: rgb(216, 71, 216);
    --orange-color: rgb(255, 196, 0);
    --blue-color: rgb(81, 156, 255);
    --dark-orange-color: rgb(210, 141, 3);
    --dark-pink-color: rgb(216, 71, 216,0.7);
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

* {
    padding: 0;
    margin: 0;
}

/* header */
#pink {
    width: 55px;
    height: 30px;
    background-color: var(--dark-pink-color);
}

#blue {
    width: 55px;
    height: 30px;
    background-color: rgb(81, 156, 255,0.7);
    transform: translate(30px, -36px);
}

#orange {
    width: 55px;
    height: 30px;
    background-color: rgb(255, 196, 0, 0.7);
    transform: translate(15px, -18px);
}

#logo {
    display: block;
    margin: 1rem;
    width: 84px;
    height: 54px;
}

#logo-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

#links {
    display: flex;
    justify-content: center;
}

#links a, #links span {
    display: flex;
    align-items: center;
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.link-logo {
    width: auto;
    height: 25px;
    padding: 0 1rem 0 0 ;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

/* recent projects */
#recent-projects {
    height: fit-content;
    background-color: var(--secondary-color);
}

#project-list-flex {
    display: flex;
    min-height: fit-content;
    justify-content: space-around;
    overflow-x:scroll;
    max-width: 100%;
    align-items: flex-start;
}

#project-list-flex::-webkit-scrollbar {
    background: var(--orange-color);
    height: 0.5rem;
}

#project-list-flex::-webkit-scrollbar-thumb {
    background: var(--dark-orange-color);
}

.project {
    min-width: 400px;
    margin: 1rem;
    height: fit-content;
}

.project-preview:hover {
    cursor: pointer;
    transform: translateY(-20px);
    transition: 0.3s ease-in-out;
}

.project-preview {
    background-color:antiquewhite;
    color: black;
    height: 300px;
    width: 400px;
    display: block;
    transition: 0.3s ease-in-out;
}

.project img{
    height: 300px;
    width: 400px;
}

section h2 {
    text-align: center;
    padding: 1rem;
    color: var(--orange-color);
    grid-row: 1;
}

.project {
    text-decoration: none;
    color: white;
}

.project-type {
    color: var(--pink-color);
    font-weight: 700;
    
}

.project-title {
    color: var(--blue-color);
}

/* project pages */
#project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
}

#project-wrapper h1 {
    color: var(--blue-color);
    padding: 1rem;
}

#project-wrapper p {
    padding: 1rem;
}

#feat-and-tech {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 196, 0, 0.7);
    padding: 1rem 0;
}

#feat-and-tech article {
    width: 50%;
    padding: 1rem;
    list-style-position: inside;
}

#feat-and-tech article h2 {
    color: white;
}

figcaption {
    text-align: center;
}

figure img {
    height: 400px;
    margin: auto;
    display: block;
    border: black 2px solid;
}

figure {
    background-color: var(--dark-pink-color);
    width: 100%;
    padding: 1rem 0;
}

#project-wrapper a {
    color: white;
    text-decoration: underline;
    font-weight: 800;
}